<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="mycard mt-4 mb-4">
						<!-- alert -->
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<!-- <th:block th:text="${#session.removeAttribute('message')}"></th:block>	 -->
						</div> 
						
						<h1 class="text-center">Register Here !!</h1>
						<form novalidate action="" th:action="@{do_register}" method="post"
							th:object="${user}">
							<!-- name -->
							<div class="from-group mb-3">
								<label for="name_field" class="form-label">Your Name:</label> <input
									type="text" class="form-control" name="name"
									th:value="${user.name}" id="name_field"
									placeholder="Enter here" required="required">
								<div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="text-danger">
								</div>
							</div>
							<!-- email -->
							<div class="from-group mb-3">
								<label for="email_field" class="form-label">Your Email:</label>
								<input type="email" class="form-control" name="email"
									th:value="${user.email}" id="email_field"
									placeholder="Enter here" required="required"
									aria-describedby="emailHelp">
								<div th:each="e : ${#fields.errors('email')}" th:text="${e}" class="text-danger">
								</div>
							</div>
							<!-- password -->
							<div class="from-group mb-3">
								<label for="password_field" class="form-label">Your
									Password:</label> <input type="password" class="form-control"
									name="password" id="password_field" placeholder="Enter here"
									required="required">
								<div th:each="e : ${#fields.errors('password')}" th:text="${e}" class="text-danger">
								</div>
							</div>
							<!-- about -->
							<div class="from-group mb-3">
								<label for="about_field" class="form-label">Your About:</label>
								<textarea class="form-control" required="required" name="about"
									th:text="${user.about}" rows="10"
									placeholder="Enter Something yourself"></textarea>
							</div>
							<!-- buttons -->
							<div class="form-group form-check">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement"> <label for="agreement">check
									terms and conditions</label>
							</div>
							<div class="container text-center">
								<button type="submit" class="btn bg-primary  text-white">Submit</button>
								<button type="reset" class="btn btn-warning  text-white">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>